@import "variables";

.footer{
    padding:2rem;
    background-color:$navyPink;
    color:azure;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    p{
        font-family: fantasy;
    }
}